{{> welcomemenu }}<!-- todo create handlebars that will display different menu bar if guest logged in-->
<h1> {{event.title}}</h1>
<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="three wide column" style="background: lightgrey">
            {{> guestmenu _id="donate"}}
        </aside>
        <article class="twelve wide column">
            <div>
            You are sending a donation of <b>€{{donation}}</b> to the event {{event.title}}. <br/>
            <br/>
            Your message is:<br/>
            {{message}}<br/>
            <br/>
            Please confirm.<br/>
            </div>
            {{>paypalbuttons}}
        </article>

    </div>
</section>