{{> mainmenu _id="events" }}
<h1> {{event.title}}</h1>
<section >
    <div class="ui grid" style="height: 100vh;">
        <article class="three wide column" style=" background: lightgrey">
            {{> verticlemenu _id="event" }}
        </article>
        <article class="twelve wide column">
            {{>editeventview}}
        </article>
    </div>
</section>
