{{> mainmenu _id="events" }}
<h1> {{event.title}}</h1>
<section class="ui segment" >
    <div class="ui grid" style="height: 100vh;">
        <article class="three wide column" style=" background: lightgrey">
            {{> verticlemenu _id="event" }}
        </article>
        <article class="twelve wide column">
            {{>eventview}}
            <div class="ui styled fluid accordion">
                <div class="title">
                    <i class="dropdown icon"></i>
                    Invite host
                </div>
                <div class="content">
                    {{>addhost}}
                </div>
            </div>
            <br/>
            {{>addrsvpinfo}}
        </article>
    </div>
</section>

<script language='javascript'>
    $(document).ready(function(){
        $('.ui.accordion').accordion();
    });
</script>