{{> mainmenu _id="events" }}

<h1> {{event.title}}</h1>
<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="three wide column" style="background: lightgrey">
            {{> verticlemenu _id="event" }}
        </aside>
        <article class="twelve wide column">

            {{>eventview}}
            <div class="ui  divider"></div>
            {{>addhost}}
        </article>
    </div>
</section>