{{> welcomemenu }}<!-- todo create handlebars that will display different menu bar if guest logged in-->
<h1> {{event.title}}</h1>
<section class="ui stacked segment">
    <div class="ui grid" style="height: 100vh;">
        <aside class="three wide column" style="background: lightgrey">
            {{> guestmenu _id="donate"}}
        </aside>
        <article class="twelve wide column">
            Hello You have been invited!!


            {{> senddonation}}
        </article>

    </div>
</section>