{{> mainmenu _id="event" }}
<h1>{{event.title}}</h1>
<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="three wide column" style="background: lightgrey">
            {{> verticlemenu _id="guestlist" }}
        </aside>
        <article class="twelve wide column">
            {{> guestsview }}
            <div class="ui  divider"></div>
            {{> addguest}}
        </article>
    </div>
</section>