{{#if loggedin}}
    {{> mainmenu _id="event" }}
{{else}}
    {{> welcomemenu }}
{{/if}}
<h1> {{event.title}}</h1>
<section class="ui stacked segment">
    <div class="ui grid" style="height: 100vh;">
        <aside class="three wide column" style="background: lightgrey">
            {{> guestmenu _id="donate"}}
        </aside>
        <article class="twelve wide column">
            {{> senddonation}}
        </article>
    </div>
</section>