{{> mainmenu _id="home" }}

<section class="ui raised segment">

    {{> createtodo }}

    <div class="ui  divider"></div>

    <div class="ui teal progress" data-percent="${progress}" id="mainprogress">
        <div class="bar"></div>
    </div>


    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
    </head>

    <body>
    <script
            src={{paypalurl}}> // Required. Replace YOUR_CLIENT_ID with your sandbox client ID.
    </script>

    <div id="paypal-button-container"></div>

    <script>
        paypal.Buttons().render('#paypal-button-container');
        // This function displays Smart Payment Buttons on your web page.
    </script>
    </body>


</section>
