{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="images/wedoo.jpg" class="ui medium image">
        </aside>
        <article class="ten wide column">
            <header class="ui  header"> Plan your Party </header>
            <p>Creating a todo list for your party</p>
            <div class="ui large buttons">
                <a class="item" href="/signup">
                    <button class="ui pink button">Start Here</button>
                </a>
            </div>
            {{> error }}
        </article>
    </div>
</section>
