{{> welcomemenu }}

<h1> {{event.title}}</h1>
<section class="ui stacked segment">
        <article class="twelve wide column">
            Hello You have been invited!!
        </article>
    </div>
</section>