
<div class="ui styled fluid accordion">
    <div class="title">
        <i class="dropdown icon"></i>
        RSVP Screen Content
    </div>
    <div class="content">
        <div class="accordion">
            <div class="title">
                <i class="dropdown icon"></i>
                Add Welcome Message to the RSVP Page
            </div>
            <div class="content">
                {{>addrsvpmessage}}
            </div>
            <div class="title">
                <i class="dropdown icon"></i>
                Add a Multiple Choice Question to the RSVP Page
            </div>
            <div class="content">
                {{>addrsvpquestions}}
            </div>
        </div>
    </div>
</div>