<section class="ui raised segment">
    <h3>Add Tables</h3>
    <div class="ui grid ">
        <div class="ui form twenty wide column">
            <form action="/tableplan/{{event._id}}/addtables" method="POST">
                <div class="field">
                    <div class="text">Number of Tables<br/></div>
                    <div class="ui input">
                        <input type="number" placeholder="0" name="count">
                    </div>
                </div>
                <div class="field">
                    <div class="text">Capacity at each table<br/></div>
                    <div class="ui input">
                        <input type="number" placeholder="0" name="capacity">
                    </div>
                </div>
                <br/>
                <button class="ui pink submit button">Proceed</button>
            </form>
        </div>
    </div>
</section>

