<section class="ui raised segment">
    <div class="ui grid">
        <div class="eight wide column"  align="center">
            <button class="ui pink button" style="width: 300px">Send Info Request</button>
        </div>
        <div class="eight wide column" align="center">
            <button class="ui pink button" style="width: 300px">Send RSVP Request</button>
        </div>
    </div>
</section>