<section class="ui raised segment">
    <div class="ui grid">
        <div class="eight wide column"  align="center">
            <a href="/event/{{event._id}}/sendinfoemail"><button class="ui pink button" style="width: 300px">Send Info Request</button></a>
        </div>
        <div class="eight wide column" align="center">
            <a href="/event/{{event._id}}/sendrsvpemail"><button class="ui pink button" style="width: 300px">Send RSVP Request</button></a>
        </div>
    </div>
</section>