<section class="ui raised segment">
    <div class="ui grid">
        <article class="twenty wide column">
            <b>Date: </b> {{formatDate event.date}}<br/>
            <br/><b>Information: </b><br/>
            {{event.info}}
        </article>
    </div>
</section>