<section class="ui raised segment">
    <h2>Upload Excel Guestlist</h2>
    <div>
        Download the Excel template file from here:
        <button style="margin-left: 20px" class="ui pink button" onclick="document.getElementById('link').click()" >
            <i class="download icon"></i>
            Download
        </button>
        <a id="link" href="../wedoo_guestlist.xlsx" download hidden></a>
    </div>
    <div>
        When you're ready upload your excel file here:

    </div>
</section>