<h3>Please RSVP</h3>
<div class="ui form">
    <form action="/RSVP" method="POST">
    <div class="grouped inline fields">
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="method" value="yes">
                <label>Yes, I'm attending!</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="method" value="no">
                <label>No, can't make it</label>
            </div>
        </div>
        <button class="ui pink submit button">Send</button>
    </div>
    </form>
</div>